<!-- Please don't edit above or below this line. 
   To add a quote, copy the div below and paste it at the bottom of the file.
   Then populate it with your quote and attribution.

 <div class="quote">
     <blockquote>When the going gets tough only the tough get going</blockquote>
     <cite>Attribution</cite>
 </div>